.blog__article-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem 15rem;
    color: var(--color-light);
}

.blog__article-item p {
    margin: 1rem;
}